body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:8px solid lightgoldenrodyellow;
}

/* Title */
h1 {
  margin-bottom: 5px;
  color: #333;
  text-shadow: 0 0 8px rgba(0,0,0,0.15);
}

p {
  margin-bottom: 15px;
  font-size: 20px;
  color: #555;
}


.bdr {
  width: 500px;
  height: 300px;
  background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: hidden;
}

/* Small circular box */
#box {
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #ffecd2, #fcb69f);
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 200px;
  cursor: pointer;

  box-shadow:
    0 0 10px rgba(255, 170, 120, 0.8),
    0 0 20px rgba(255, 120, 80, 0.6);

  transition: 0.15s ease;
}

#box:hover {
  transform: scale(1.15);
}
